<nz-card nzTitle="HUNT">
  <div nz-row>
    <div nz-col nzSpan="12" class="settings-col card-content">
      <label nz-checkbox [(ngModel)]="enabled" (ngModelChange)="updateHunt()">enabled</label>
      <span></span>
      <label  nz-checkbox [nzDisabled]="!enabled"  [(ngModel)]="useHardmode" (ngModelChange)="updateHunt()">use hardmode</label>
      <span></span>
      <label  nz-checkbox [nzDisabled]="!enabled"  [(ngModel)]="useHealing" (ngModelChange)="updateHunt()">use heal</label>
    </div>
    <div nz-col nzSpan="12">
      <app-timer [commandService]="huntService" [timeToFire]="huntService.timeToFire$ | async"></app-timer>
    </div>
  </div>
  </nz-card>

