<nz-card nzTitle="HUNT">
    <label nz-checkbox [(ngModel)]="enabled" (ngModelChange)="updateHunt()">enabled</label>
    <label  nz-checkbox [nzDisabled]="!enabled"  [(ngModel)]="useHardmode" (ngModelChange)="updateHunt()">use hardmode</label>
  <label  nz-checkbox [nzDisabled]="!enabled"  [(ngModel)]="useHealing" (ngModelChange)="updateHunt()">use heal</label>
  </nz-card>


<nz-card nzTitle="ADVENTURE">
  <label nz-checkbox [(ngModel)]="enabledAdventure" (ngModelChange)="updateAdv()">enabled</label>
  <label nz-checkbox [nzDisabled]="!enabledAdventure" (ngModelChange)="updateAdv()" [(ngModel)]="useAdventureHardmode">use hardmode</label>
  <label  nz-checkbox [nzDisabled]="!enabled" (ngModelChange)="updateAdv()" [(ngModel)]="useHealingAdventure" >use heal</label>
</nz-card>
