<nz-collapse>
  <nz-collapse-panel
    nzHeader="Settings"
    [nzActive]="false"
    [nzExtra]="button"
  >
    <input nz-input placeholder="Token" [(ngModel)]="token" (ngModelChange)="updateToken($event)" />
    <input nz-input placeholder="Player name" [(ngModel)]="playerName" (ngModelChange)="updatePlayerName($event)"/>
    <input nz-input placeholder="Player id" [(ngModel)]="playerId" (ngModelChange)="updatePlayerId($event)" />
    <input nz-input placeholder="Channel id" [(ngModel)]="channelId" (ngModelChange)="updateChannelId($event)" />
    <input nz-input placeholder="Bot name" [(ngModel)]="botName" (ngModelChange)="updateBotName($event)" />
    <input nz-input placeholder="Notes" [(ngModel)]="timeout" (ngModelChange)="updateTimeout($event)" />
    <button nz-button nzType="primary" (click)="updatePlayer()">get player info</button>
  </nz-collapse-panel>
</nz-collapse>
<ng-template #button>
  <div (click)="$event.stopPropagation()"> <ng-content></ng-content> </div>
</ng-template>
