<nz-card nzTitle="Trade before dungeon" >
  <button nz-button nzType="primary" nzShape="circle" (click)="prepare(3)">3</button>
  <button nz-button nzType="primary" nzShape="circle" (click)="prepare(5)">5</button>
  <button nz-button nzType="primary" nzShape="circle" (click)="prepare(7)">7</button>
  <button nz-button nzType="primary" nzShape="circle" (click)="prepare(8)">8</button>
  <button nz-button nzType="primary" nzShape="circle" (click)="prepare(9)">9</button>
  <button nz-button nzType="primary" nzShape="circle" (click)="prepare('tt')">tt</button>
</nz-card>
