<div class="body">
<app-settings class="settings"> <button nz-button nzShape="round" nzType="primary" (click)="start()">Start</button></app-settings>
<!--  <nz-divider></nz-divider>-->
  <app-events class="events"></app-events>
  <app-enchant class="card"></app-enchant>
<!--  <nz-divider></nz-divider>-->
  <app-hunt class="card"></app-hunt>
<!--  <nz-divider></nz-divider>-->
  <app-adv class="card"></app-adv>
<!--  <nz-divider></nz-divider>-->
  <app-work class="card"></app-work>
<!--  <nz-divider></nz-divider>-->
  <app-farm class="card"></app-farm>
<!--  <nz-divider></nz-divider>-->
  <app-train class="card"></app-train>
<!--  <nz-divider></nz-divider>-->
  <app-moving class="card"></app-moving>
<!--  <nz-divider></nz-divider>-->


</div>
<app-alarm></app-alarm>
