<div class="body">
<app-settings></app-settings>
  <nz-divider></nz-divider>
  <div style="text-align: center">
    <button nz-button nzSize="large" nzShape="round" nzType="primary" (click)="start()">Start</button>
  </div>
  <nz-divider></nz-divider>
  <app-events></app-events>
  <nz-divider></nz-divider>
  <app-hunt></app-hunt>
  <nz-divider></nz-divider>
  <app-work></app-work>
  <nz-divider></nz-divider>
  <app-farm></app-farm>
  <nz-divider></nz-divider>
  <app-train></app-train>
  <nz-divider></nz-divider>
  <app-moving></app-moving>
  <nz-divider></nz-divider>
  <app-enchant></app-enchant>

</div>
<app-alarm></app-alarm>
