<nz-collapse>
  <nz-collapse-panel
    nzHeader="Custom events (global)"
    [nzActive]="false"
  >
    <div nz-row>
      <div nz-col nzSpan="12" class="event-col">
        <div class="settings-wrapper">
          <label nz-checkbox [(ngModel)]="settings.lure.enabled" (ngModelChange)="update()" class="label-checkbox"></label>
          <nz-input-group nzAddOnBefore="Lure" nzAddOnAfter="ms">
            <nz-input-number [nzDisabled]="!settings.lure.enabled" [(ngModel)]="settings.lure.timer" [nzMin]="100" [nzMax]="10000" [nzStep]="100"></nz-input-number>
          </nz-input-group>
        </div>
        <div class="settings-wrapper">
          <label nz-checkbox [(ngModel)]="settings.cut.enabled" (ngModelChange)="update()" class="label-checkbox"></label>
          <nz-input-group nzAddOnBefore="Cut" nzAddOnAfter="ms">
            <nz-input-number [nzDisabled]="!settings.cut.enabled" [(ngModel)]="settings.cut.timer" [nzMin]="100" [nzMax]="10000" [nzStep]="100"></nz-input-number>
          </nz-input-group>
        </div>
        <div class="settings-wrapper">
          <label nz-checkbox [(ngModel)]="settings.catch.enabled" (ngModelChange)="update()" class="label-checkbox"></label>
          <nz-input-group nzAddOnBefore="Catch" nzAddOnAfter="ms">
            <nz-input-number [nzDisabled]="!settings.catch.enabled" [(ngModel)]="settings.catch.timer" [nzMin]="100" [nzMax]="10000" [nzStep]="100"></nz-input-number>
          </nz-input-group>
        </div>
      </div>
      <div nz-col nzSpan="12">
        <div class="settings-wrapper">
          <label nz-checkbox [(ngModel)]="settings.boss.enabled" (ngModelChange)="update()" class="label-checkbox"></label>
          <nz-input-group nzAddOnBefore="Boss" nzAddOnAfter="ms">
            <nz-input-number [nzDisabled]="!settings.boss.enabled" [(ngModel)]="settings.boss.timer" [nzMin]="100" [nzMax]="10000" [nzStep]="100"></nz-input-number>
          </nz-input-group>
        </div>
        <div class="settings-wrapper">
          <label nz-checkbox [(ngModel)]="settings.summon.enabled" (ngModelChange)="update()" class="label-checkbox"></label>
          <nz-input-group nzAddOnBefore="Summon" nzAddOnAfter="ms">
            <nz-input-number [nzDisabled]="!settings.summon.enabled" [(ngModel)]="settings.summon.timer" [nzMin]="100" [nzMax]="10000" [nzStep]="100"></nz-input-number>
          </nz-input-group>
        </div>
        <div class="settings-wrapper">
          <label nz-checkbox [(ngModel)]="settings.arena.enabled" (ngModelChange)="update()" class="label-checkbox"></label>
          <nz-input-group nzAddOnBefore="Arena" nzAddOnAfter="ms">
            <nz-input-number [nzDisabled]="!settings.arena.enabled" [(ngModel)]="settings.arena.timer" [nzMin]="100" [nzMax]="10000" [nzStep]="100"></nz-input-number>
          </nz-input-group>
        </div>
      </div>
    </div>
  </nz-collapse-panel>
</nz-collapse>
